* {
  box-sizing: border-box;
}

.App {
  margin-top: 6px;
}

.message {
  text-align: center;
}

.todos {
  margin-top: 22px;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 6px 0;
  padding: 0 6px;
}
.todo:first-child {
  margin-top: 0;
}
.todo:nth-child(even) {
  background-color: #eee;
}

.todo-text {
  flex: 1;
}

.todo-dismiss {
  flex: 1;
}

.completed {
  text-decoration: line-through;
}